App {
  text-align: center;
  margin-top: 70px;
}

body {
  background-color: hsl(205, 83%, 63%); 
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;

}

h2 {
  color: lch(3.97% 10.89 15.16);
}

.input-row {
  display: flex; 
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 200px;
  margin-right: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}


.task-list {
  list-style: none;
  padding: 0;
  width: 500px;
  margin: 0 auto;
}

.task-item {
  background: oklab(94.91199999999999% -0.00418 0.01386);
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

.task-item:active {
  cursor: grabbing;
}

.delete-btn {
  background: #df1818e2;
  color:hwb(327 91% 5%);
  border: none;
  border-radius: 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(219, 31%, 50%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #a71515;
}

.App-link {
  min-height: 100vh;       
  display: flex;
  flex-direction: column;     
  justify-content: center;   
  align-items: center;        
  color: oklab(16.777% 0.04365 -0.01098);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}